@page "/admin-welcome"
@using RisckTrack.WEB.Services
@inject UserSessionService Session
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Bienvenido, Administrador</h3>

<p>Acceso completo al sistema.</p>


@code {
    
}
