@page "/login"
@inject HttpClient Http
@using RisckTrack.WEB.Models
@using RisckTrack.WEB.Services
@inject UserSessionService Session
@inject NavigationManager Navigation
@inject AuthService AuthService
@rendermode InteractiveServer

<div class="login-wrapper">
    <div class="login-card">
        <h2 class="login-title">Iniciar Sesión</h2>

        <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Email:</label>
                <InputText class="form-control" @bind-Value="loginModel.Email" placeholder="usuario@correo.com" />
            </div>

            <div class="form-group">
                <label>Contraseña:</label>
                <InputText class="form-control" @bind-Value="loginModel.Password" type="password" placeholder="••••••••" />
            </div>

            <button type="submit" class="login-button">Ingresar</button>

            @if (!string.IsNullOrEmpty(Message))
            {
                <p class="login-message">@Message</p>
            }
        </EditForm>
    </div>
</div>

@code {
    private UserLoginDto loginModel = new();
    private string Message = string.Empty;

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(loginModel);
        if (result != null)
        {
            Session.SetSession(result.UserId, result.CompanyId, result.Role);

            if (result.Role == "A")
                Navigation.NavigateTo("/admin-welcome");
            else
                Navigation.NavigateTo("/user-welcome");
        }
        else
        {
            Message = "Credenciales incorrectas.";
        }
    }

}


