@page "/user-welcome"
@rendermode InteractiveServer

<div class="user-wrapper">
    <div class="user-card">
        <h1 class="hero-title">¡Bienvenido Usuario!</h1>
        <p class="hero-subtitle">Desde aquí puedes gestionar tus activos, incidentes y soluciones.</p>

        <div class="button-group">
            <button class="cta-button green-button" @onclick="ShowTeams">Ver Grupos</button>
            <button class="cta-button green-button" @onclick="ShowAssets">Ver Activos</button>
            <button class="cta-button green-button" @onclick="ShowIncidents">Ver Incidentes</button>
            <button class="cta-button green-button" @onclick="ShowTreatment">Ver Soluciones</button>
        </div>

        <div class="section-card">
            @if (showAssets)
            {
                <Assets />
            }
            @if (showIncidents)
            {
                <Incidents />
            }
            @if (showTeams)
            {
                <Teams />
            }
            @if (showTreatment)
            {
                <Treatment />
            }
        </div>
    </div>
</div>


@code {
    private bool showAssets = false;
    private bool showIncidents = false;
    private bool showTeams = false;
    private bool showTreatment = false;

    private void ShowAssets()
    {
        showAssets = true;
        showIncidents = false;
        showTeams = false;
        showTreatment = false;
    }
    private void ShowIncidents()
    {
        showIncidents = true;
        showAssets = false;
        showTeams = false;
        showTreatment = false;
    }
    private void ShowTeams()
    {
        showIncidents = false;
        showAssets = false;
        showTeams = true;
        showTreatment = false;
    }
    private void ShowTreatment()
    {
        showIncidents = false;
        showAssets = false;
        showTeams = false;
        showTreatment = true;

    }
}
