@page "/user-welcome"
@rendermode InteractiveServer

<h3>UserWelcome</h3>

<h3>Bienvenido Usuario</h3>

<p>Desde aquí puedes gestionar tus activos.</p>

<button class="btn btn-primary" @onclick="ShowTeams">Ver Grupos</button>
<button class="btn btn-primary" @onclick="ShowAssets">Ver Activos</button>
<button class="btn btn-primary" @onclick="ShowIncidents">Ver Incidentes</button>
<button class="btn btn-primary" @onclick="ShowTreatment">Ver Soluciones</button>

@if (showAssets)
{
    <Assets />
}
@if (showIncidents)
{
    <Incidents /> 
}
@if (showTeams)
{
    <Teams />
}
@if (showTreatment)
{
    <Treatment />
}


@code {
    private bool showAssets = false;
    private bool showIncidents = false;
    private bool showTeams = false;
    private bool showTreatment = false;

    private void ShowAssets()
    {
        showAssets = true;
        showIncidents = false;
        showTeams = false;
        showTreatment = false;
    }
    private void ShowIncidents()
    {
        showIncidents = true;
        showAssets = false;
        showTeams = false;
        showTreatment = false;
    }
    private void ShowTeams()
    {
        showIncidents = false;
        showAssets = false;
        showTeams = true;
        showTreatment = false;
    }
    private void ShowTreatment()
    {
        showIncidents = false;
        showAssets = false;
        showTeams = false;
        showTreatment = true;

    }
}
