@page "/user-welcome"
@rendermode InteractiveServer

<h3>UserWelcome</h3>

<h3>Bienvenido Usuario</h3>

<p>Desde aquí puedes gestionar tus activos.</p>

<button class="btn btn-primary" @onclick="ShowAssets">Ver Activos</button>
<button class="btn btn-primary" @onclick="ShowIncidents">Ver Incidentes</button>
@if (showAssets)
{
    <Assets />
}
@if (showIncidents)
{
    <Incidents /> 
}

@code {
    private bool showAssets = false;
    private bool showIncidents = false;

    private void ShowAssets()
    {
        showAssets = true;
        showIncidents = false;
    }
    private void ShowIncidents()
    {
        showIncidents = true;
        showAssets = false;
    }
}
